[mysqld]
user		= mysql
sql_mode="ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
default-time-zone='+9:00'

early-plugin-load=keyring_file.so
keyring_file_data=/var/lib/mysql/mysql-keyring/keyring

slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql_slow_query.log
long_query_time=10.0

general_log=1
general_log_file=/var/log/mysql/mysql_query.log

innodb_lock_wait_timeout=120

